.statistic-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px;
}

.cart-footer-summary {
    display: flex;
    justify-content: space-between;
}

.cart .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    text-align: center;
}

.statistic-item {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.statistic-label {
    font-weight: 200;
    margin: 0;
    font-family: sans-serif;
}

.checkout {
    display: flex;
    justify-content: end;
}