.p-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-reviews {
    display: block;
    margin: 3px 0px 15px;
    font-size: 12px;
    color: var(--bluegray-500)
}

.p-dataview-list .p-grid {
    grid-template-columns: none;
}

.product-reviews-number {
    font-weight: bold;
}

.product-cartButton {
    display: flex;
    justify-content: center;
}

.p-dataview .p-dataview-header {
    margin-bottom: 20px;
}

.data .p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.data .product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.data .product-description {
    margin: 0 0 1rem 0;
}

.data .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.data .product-category {
    font-weight: 600;
    vertical-align: middle;
}

.data .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.data .product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

.data .product-list-item .product-list-detail {
    flex: 1 1 0;
}

.data .product-list-item .p-rating {
    margin: 0 0 0.5rem 0;
}

.data .product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}

.data .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.data .product-list-item .p-button {
    margin-bottom: 0.5rem;
}

.data .product-grid-item {
    border: 1px solid var(--surface-border);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.data .product-grid-item .product-grid-item-top,
.data .product-grid-item .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data .product-grid-item img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0 1rem 0;
}

.data .product-grid-item .product-grid-item-content {
    text-align: center;
}

.data .product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 576px) {
    .data .product-list-item {
        flex-direction: column;
        align-items: center;
    }

    .data .product-list-item img {
        width: 75%;
        margin: 2rem 0;
    }

    .data .product-list-item .product-list-detail {
        text-align: center;
    }

    .data .product-list-item .product-price {
        align-self: center;
    }

    .data .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
    }

    .data .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
