.footer {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.footer li {
    padding: 0 10px;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul a:hover {
    color: #14B8A6;
}

.footer .footer-social {
    text-align: center;
}

.footer .footer-social > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer .footer-social > a:hover {
    color: #14B8A6;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--orange-500);
    margin-bottom: 0;
}

.footer-widgets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.footer-search {
    margin-left: 30px;
}